/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
}
.header{
	background-color: #011e29;
	display:flex;
	justify-content:center;
	padding:10px;
	color:white;
}
section{
	display:flex;
	flex-direction:row;
}
.latest-news-section{
	background-color:white;
	padding:5px;
	width:550px;
	height:200px;
	padding:5px;
	
}
.main-article{
	background-color:white;
	width:550px;
	height:300px;
	padding:5px;
	gap:10px;
	
}
.pictorial-news-section{
	background-color:white;
	padding:5px;
	width:550px;
	display:flex;
	flex-direction:column;
	text-align:center;
	border-radius:5px;
	background-color:red;
	
	
}










